html {
    height: 100%;
}
body {
    height: 100%;
    background-image: linear-gradient(to bottom right, #000, rgb(124, 120, 120));
    display: flex;
    justify-content: center;
    align-items: center;
}

.accordion {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    padding: 50px;
    background-image: linear-gradient(to bottom right, #2F8F9D, #0f4d57);
    border-radius: 40px;
    box-shadow: 0 0 50px #000;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}
.container {
    background-image: linear-gradient(to bottom right, #3BACB6, #37a0aa);
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 50px #072428;
    cursor: pointer;
}
h2 {
    margin: 20px 0;
    font-size: 30px;
}
.accordion-title-box {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
.arrow-up {
    display: none;
}
.descrip {
    height: 0;
    overflow: hidden;
    transition: .3s linear;
}
.container.active .descrip {
    height: 100px;
}
.container.active .arrow-down {
    display: none;
}
.container.active .arrow-up {
    display: block;
}